:root {
    --mid-width: 18rem;
    --shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.rdtc-input-div {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: min-content;
    padding-inline: 0.6rem;
    border-radius: 5px;
    justify-content: space-between;
    gap: 2px;
    font-family: monospace;
    cursor: pointer;
    position: relative;
    background-color: inherit;
}


.rdtc-input-div>p {
    margin: 0;
    font-weight: 500;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rdtc-input-div>svg {
    margin-left: 1rem;
}

.calender-div {
    color: inherit;
    position: absolute;
    background-color: inherit;
    border-radius: 15px;
    height: 20rem;
    padding-bottom: 1rem;
    width: var(--mid-width);
    top: 110%;
    left: 50%;
    transform: scale(0.7) translateX(-50%);
    transition: all 0.2s;
    opacity: 0;
    box-shadow: var(--shadow);
    z-index: 10000;
}

.calender-open {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.calender-main {
    padding-top: 10px;
    height: 100%;
    width: 100%;
    color: inherit;
    cursor: auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.calender-header {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
}

.calender-header>h2 {
    font-size: 1rem;
    color: inherit;
    margin: 0;
    text-align: start;
}

.calender-header>span>button {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.calender-grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 2rem);
    grid-template-rows: 2rem;
    grid-auto-rows: 2rem;
    column-gap: 8px;
    row-gap: 10px;
}

.calender-grid>span {
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.calender-grid-header {
    padding-top: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 2rem);
    grid-template-rows: 2rem;
    column-gap: 8px;
    row-gap: 10px;
}

.calender-grid-header>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender-swipe-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}


.calender-swipe-item {
    position: absolute;
    transition: transform 0.3s ease-out;
    display: grid;
    place-items: center;
    width: 100%;
    min-width: var(--mid-width);
    top: 0;
    right: 0;
    left: 0;
}


.year-button>button {
    border-radius: 50%;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



.year-selector-list {
    list-style: none;
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 5000;
    top: 120%;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    max-height: 20rem;
    overflow-y: scroll;
    border-radius: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 0.2s;
    transform-origin: top center;
}

.year-selector-list>li {
    text-align: center;
    padding-block: 0.3rem;
}

.year-selector-list>li>button {
    background-color: transparent;
    border: none;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: large;
}

.year-selector-list::-webkit-scrollbar {
    display: none;
}

.hour-clock {
    position: relative;
    width: 200px;
    height: 200px;
    isolation: isolate;
    cursor: auto;
    display: grid;
}

.hour-clock-container {
    background-color: inherit;
    height: 280px;
    width: 250px;
    border-radius: 0.8rem;
    box-shadow: var(--shadow);
    position: absolute;
    top: 120%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    padding-top: 15px;
    cursor: auto;
    transition: all 0.3s;
    transform: scale(0.7);
    opacity: 0;
}


.hour-clock-numbers {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.clock-pointer {
    position: absolute;
    height: 10px;
    height: 85px;
    width: 2px;
    transform-origin: top center;
    top: 50%;
    transition: transform 0.3s;
    transform: rotate(0deg) translate(50%, -100%);
    justify-self: center;
}

.clock-pointer>span {
    position: absolute;
    height: 30px;
    aspect-ratio: 1;
    background-color: inherit;
    transform: translate(-50%, -100%);
    opacity: 0.3;
    border-radius: 50%;
}

.clock-pointer::before {
    content: '';
    position: absolute;
    inset: 0 -10px;
}


.clock-button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.clock-button-container>button {
    border: none;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
    aspect-ratio: 1;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.clock-close {
    transform: scale(1);
    opacity: 1;
}

@media (hover: hover) {
    .year-button>button:hover {
        background-color: rgba(128, 128, 128, 0.22)
    }

    .calender-grid>span:hover {
        background-color: rgba(128, 128, 128, 0.12);
    }

    .year-selector-list>li>button:hover {
        background-color: rgba(128, 128, 128, 0.22);
    }

    .clock-button-container>button:hover {
        background-color: rgba(128, 128, 128, 0.22);
    }
}